{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    {{ if gt .Params.tags 0 }}
    {{ range $index, $value := .Params.tags }}
    <a class="article-tag" href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}">{{ $value }}</a>
    {{ end }}
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

  {{ partial "disqus.html" .}}
  {{ partial "footer_utterances.html" .}}

</main>

{{ partial "footer.html" . }}
